*.swp
*.o
*.so.0
regression/lesserpyon/
regression/movebench
regression/testcapt
regression/testcheck
regression/testeffect
regression/testfast
regression/testgetout
regression/testhash
regression/testmove
regression/testofst
regression/testoute
regression/testpin
regression/testundo
regression/testvalue
tags
